/* Testing CSS for both htmls! */
/* body{
    background-color: red;
} */
/*quiz HTML*/
h1,
h3,
footer,
#quizBox {
    text-align: center;
}

h3 {
    font-size: 15px;
    padding: 0 600px;
    /* width: auto; */
}


/* Highscores HTML */
#button-wrapper {
    text-align: center;
}

footer {
    font-size: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}
